.node > circle {
  stroke-width: 4px;
}

.node > text {
  pointer-events: none;
  font-family: sans-serif;
  font-weight: bold;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.link, .drag_link {
  stroke-width: 6px;
  stroke: gray;
  opacity: 0.5;
}

.drag_link {
  stroke-linecap: round;
}

.selected > circle {
  stroke-width: 8px;
}

.selected.link {
  stroke-width: 14px;
}

.overlay {
  fill: transparent;
}

.toolbar {
  position: absolute;
  top: 12px;
  left: 480px;
  width: 300px;
  margin-left: -120px;
  text-align: center;
}

.tool:not(:last-child) {
  margin-right: 10px;
}

.tool {
  fill: #a3a4c3;
  cursor: pointer;
}
.tool.active {
  fill: #b52d0c;
}

.library {
  border: 2px solid #a3a4c3;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px;
  margin-top: 10px;
}
.library svg {
  cursor: pointer;
}
.library svg:not(:last-child) {
  padding-right: 6px;
}

body{
  margin-left: 15px;
}

.editorTitle{
  color: black;
}
.mainArea{
  margin-top: 50px;
  border:2px solid;
  color:#6f707b;
  margin-right:10px;
  float:left;
}
.editArea {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  margin-top: 50px;
  display:inline-block;
}

input[type=text], select {
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]{
  width: 80%;
  background-color: #13529c;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #13468c;
}

button[class='saveButton'], input[type=file]{
  background-color: #ebebeb;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button[class='saveButton']:hover, input[type=file]:hover{
  background-color: #d6d6d6;

}